body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
  }

  h1 {
    color: #333;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  #pn, #gas, #seller, #totalProducts, #transactionResult {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #productList {
    list-style: none;
    padding: 0;
  }
  
  #productList li {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  #getProductsCountForm button[type="submit"] {
    background-color: #28a745;
  }
  
  #getProductsCountForm button[type="submit"]:hover {
    background-color: #218838;
  }
  